NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_WEBSITE_URL=http://localhost:3001
NEXT_PUBLIC_API_URL=http://localhost:8000/api
SITE_URL=http://localhost:3000
API_URL=http://localhost:8000/api
API_TOKEN=

# Meta WhatsApp Cloud API Configuration
META_APP_ID=
META_CONFIG_ID=
META_WEBHOOK_VERIFY_TOKEN=
WHATSAPP_VERIFY_TOKEN=
